# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# dotenv environment variable files
.env

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directories
coverage/
.nyc_output/

# Editor directories and system files
.vscode/
.idea/
.DS_Store
Thumbs.db
